body {
	padding: 0;
	margin: 0;
	color: #555555;
	font: 12px/22px "Lucida Grande", Verdana, "Bitstream Vera Sans", Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
a {
	font-family: Georgia, Times, sans-serif;
	font-weight: normal;
	color: #0F0F0F;
}

h2 {
	font-size: 2.3em;
	margin-top: 0;
	margin-bottom: 7px;
}

h3 {
	font-size: 1.5em;
	color: #901414;
	margin-top: 18px;
	font-style: italic;
	margin-bottom: 5px;
}

p {
	
}

#infoLabel {
	width: 330px;
	font-size: 14px;
	font-style: oblique;
	font-weight: bold;
}

#infoTitle {
	width: 350px;
	font-style: oblique;
	font-size: 9px;
}

#wrapper {
	width: 940px;
	margin: 30px auto;
}

#head {
	height: 51px;
	padding-bottom: 20px
}

#head h1 {

	font-size: 50px;
	padding-left: 30px;
	padding-top: 35px;
	
}



#content-sidebar-wrapper {
	background: transparent url('middle.png') repeat-y top center;
}

#content {
	float: left;
	width: 610px;
	background: transparent url('top.png') no-repeat top left;
}

#sidebar {
	float: right;
	background: transparent url('top.png') no-repeat top right;
	width: 330px;
}

#sidebar p {
	text-align: justify;
	font-size: 10px;
	color: #777;
}

#sidebar #nav {
	margin: 0;
	padding: 5px 0 12px;
	list-style: none;
}

#sidebar #nav li {
	list-style: none;
	margin: 2px 0;
}

#sidebar #nav li a {
	display: block;
	text-decoration: none;
	border: 1px #E5e5e5 solid;
	border-width: 1px 0;
	padding: 2px 10px;
	color: #666;
}

#sidebar #nav li a:hover {
	color: black;
	border-color: #ccc;
	background: #fafafa;
}

#footer {
	background: transparent url('footer.png') no-repeat top center;
}

#sidebar .gutter {
	padding-left: 10px;
}

#content .gutter {
	padding-right: 11px;
	background: transparent url('line.png') no-repeat right 70px;
}

.gutter {
	padding: 30px;
}

#footer {
	clear: both;
	height: 40px;
	text-align: right;
}

#footer p {
	padding: 0 30px;
	margin: 0;
}

table {
	width: 99%;
	margin: 7px 0;
	border: 1px #e5e5e5 solid;
}

thead tr td {
	padding: 3px;
	border-bottom: 1px #d8d8d8 solid;
	background: #f1f1f1;
	font-style: italic;
	color: #444;
	font-size: 13px;
}

table td {
	padding: 1px 3px;
	color: #666;
}

table tr.alt td {
	background: #f3f3f3;
}

ol {
	font-size: 1em;
	font-style: italic;
	font-size: 14px;
	color: #999;
}

ol p,
ul p {
	
	color: #555;
	font-size: 10px;
	margin-top: 0;
	margin-bottom: 0;
}

.float-left {
	float: left;
}

.float-right {
	float: right;
}

#content img {
	border: 1px #ddd solid;
	margin: 4px 10px;
	padding: 5px;
}

form {
	margin: 0;
	padding: 0;
	border: 0;
}

fieldset {
	margin: 10px;
	padding: 5px;
	border: 1px #e5e5e5 solid;
}

input,
textarea {
	background: #E9EEF1;
	border: 1px #ccc solid;
	padding: 2px;
	margin: 2px 1px 1px;
	color: #555;
	width: 200px;
	font: 12px/16px "Lucida Grande", Verdana, "Bitstream Vera Sans", Arial, sans-serif;
}

label {
	padding: 1px 3px;
	text-align: right;
	margin: 0 4px 0 0;
	display: block;
	float: left;
	color: #555;
	font-weight: bold;
	width: 100px;
}

#form-page-new input,
#form-page-new label {
	float: none;
}

#form-page-new .form-row-last {
	padding: 0;
}

.form-row,
.form-row-last {
	padding: 7px;
	border-bottom: 1px #ccc dotted;
}

.form-row-last {
	padding-left: 117px;
	border: 0;
}

.form-row-last input {
	width: auto;
	padding: 5px;
}

blockquote {
	font-weight: bold;
	font-style: italic;
	margin: 15px 30px;
}

cite {
	text-align: right;
	font-style: normal;
	display: block;
}